.css--main-app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.css--main-app_image-viewer {
  width: 400px; 
  height: 400px; 
  position: relative; 
  overflow: hidden;
}

.css--main-app_text-viewer-top {
  position: absolute;
  top: 10px;
  left: 10px;
}

.css--main-app_text-viewer-bottom {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.css--main-app_inputs {
  margin-top: 20px;
  width: 400px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-direction: column;
}

.css--main-app_inputs_imgurl,
.css--main-app_inputs_rotation,
.css--main-app_inputs_text-color,
.css--main-app_inputs_mirror label {
  display: flex;
  gap: 20px;
  align-items: center;
}

input:not(#textColor) {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.css--main-app_inputs_mirror label input {
  margin: 0 !important;
  pointer-events: all;
  cursor: pointer;
}

// Overrides for cropper
.reactEasyCrop_CropArea {
  color: rgba(0, 0, 0, 0.2) !important;
}

.reactEasyCrop_Container.is-mirrored {
  transform: scale(-1);
}